[submodule ".vim/bundles/nerdtree"]
	path = .vim/bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule ".vim/bundles/nerdcommenter"]
	path = .vim/bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
